{% macro render(element, index) %}
  <div id="detail{{ index }}" class="detail">

    {% if element.isInput() %}
      {% import 'Builder.twig' as builder %}
      {{ builder.input(element) }}
    {% else %}
      {{ element.layer_name }}
    {% endif %}

    {# START: 子ノードがいる場合再帰的に描画 #}
    {% if element.hasChild() %}
      {% import _self as recursive %}
      {% for child in element.children %}
        {{ recursive.render(child, loop.index) }}
      {% endfor %}
    {% endif %}
    {# END: 子ノードがいる場合再帰的に描画 #}
    
  </div>
{% endmacro render %}

<article class="wrap">
  <h2>Custom Form</h2>
  <form method="post" action="options.php">
    {{ formSettingForOptions(keys) }}

    {% for element in elements %}
      <hr>
      {# START: 第一層 FORM GROUP #}
      {% if element.hasChild() %}
        <article {{ easyAttrs(element, 'group')|raw }}>
          <h3>{{ element.layer_name }}</h3>
          {% for block in element.children %}

            {# START: 第二層 FORM BLOCK #}
            <section {{ easyAttrs(block, 'block')|raw }}>
              <h4>{{ block.layer_name }}</h4>

              {# START: 第三層以降 子ノードがいる場合再帰的に描画 #}
              {% if block.hasChild() %}
                {% import _self as recursive %}
                {% for child in block.children %}
                  {{ recursive.render(child, loop.index) }}
                {% endfor %}
              {% endif %}
              {# END: 第三層以降 子ノードがいる場合再帰的に描画 #}

            </section>
            {# END: 第二層 FORM BLOCK #}

          {% endfor %}
        </article>
      {% endif %}
      {# END: 第一層 FORM GROUP #}
    {% endfor %}

  </form>
</article>
